.idea/
.ibm-project
.DS_Store
credentials.txt
*.coverprofile
node_modules/
.project
*.env

# ignore vendor/
vendor/

# coverage
coverage.txt

# ignore detect secrets files
.pre-commit-config.yaml
.secrets.baseline
/.settings/
/.vscode/
package-lock.json
