language: go

dist: xenial

go:
- 1.12.x

notifications:
  email: false

env:
  global:
    - GO111MODULE=on

before_install:
  - nvm install 12
  - npm install -g npm@6.x
  - sudo apt-get update
  - sudo apt-get install python

install:
  - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.31.0
  - curl -s https://codecov.io/bash > $HOME/codecov-bash.sh && chmod +x $HOME/codecov-bash.sh

script:
  - make all

after_success:
  - build/publishCodeCoverage.sh

before_deploy:
  - pip install --user bump2version
  - nvm install 12
  - npm install @semantic-release/changelog
  - npm install @semantic-release/exec
  - npm install @semantic-release/git
  - npm install @semantic-release/github

deploy:
  - provider: script
    script: npx semantic-release
    skip_cleanup: true
    on:
      branch: master
